<div class="col-xs-10 col-xs-offset-1 about">
	<h1 class="text-center">About Splurty</h1>

	<p class="text-center"> 
		This site was built by Shaun Shapiro, as a student project for <a target="_blank" href="http://www.thefirehoseproject.com">theFirehoseProject.</a>
	</p>
	<br />

	<div class="col-xs-12 col-sm-4" style="padding-top:100px;">
		<%= image_tag 'shaun.jpg', :class => 'img_responsive center-block' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1" style="padding-top:100px;">
		<h2 class="text-center">Shaun Shapiro</h2>
		<br />

	    <p>
		  Shaun is an aspiring web developer with a desire to impact the fields he cares about most. He resides and works in San Jose, CA and holds a bachelor's degree in civil engineering from Santa Clara University. When he is not learning to code in his spare nights and weekends, he enjoys lifting heavy things in the gym, cooking/enjoying food, videogames, and a good Netflix binge. He also enjoys long walks on the beach and lol jk.
	    </p>
    </div>
</div>

<br class="clear" />
<br />
<br />
<br />